
/* corner formatting*/
.tl{background-image:url('../img/tl.png');}
.tr{background-image:url('../img/tr.png');}
.bl{background-image:url('../img/bl.png');}
.b{background-image:url('../img/b.png');}
.br{background-image:url('../img/br.png');}


.fbmodal{
	position: absolute;
	left: 0;
	z-index: 1000;
	text-align: left;
}

.fbmodal_popup{
	position: relative;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:12px;
/*margin:0px auto 0px auto;*/
}

.fbmodal_overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	z-index: 99;
	background-color:rgba(0,0,0,.5);
}

.fbmodal_popup table{border-collapse: collapse;}
.fbmodal_popup td{min-width:10px; border-bottom: 0; padding: 0;}

.fbmodal_popup .fbcontent{
	padding:10px;
	font-size:11px;
}

.fbmodal_popup .fbcontainer{
	border:solid #555555 1px;
	border-top:none;
}

.fbmodal_popup #body{
	background: #ffffff;
	overflow:hidden;
}

.fbmodal_popup .fbloading{text-align: center;}

.fbmodal_popup .image{text-align: center;}

.fbmodal_popup img{
border: 0;
margin: 0;
}
.fbmodal_popup .buttons{	

}

.fbmodal_popup .footer{
	background:#F0F0F0;
	border-top:1px solid #DDDDDD;
	padding:8px;
	height:40px;
}

.fbmodal_popup .tl, .fbmodal_popup .tr, .fbmodal_popup .bl, .fbmodal_popup .br{
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
}

.fbmodal_hide{
z-index:-100;
}


.fbmodal_popup .title{
	padding:6px 6px 6px 8px;
	background:#6c83b3;
	border:solid #3b5998 1px;
	border-bottom:none;
	font-weight:bold;
	font-size:14px;
	color:#ffffff;
}

.fbmodal_popup_close{
	background: url('../img/close.gif') no-repeat 0 0;
	float:right;
	height:20px;
	width:20px;
	display: block;
	position: relative;
	right: 5px;
	top: 2px;
	overflow: hidden;
}
.fbmodal_popup_close:hover{
	background-position: 0 -20px;
}
.fbmodal_popup .button_outside_border_blue{
	border:solid #29447e 1px;
	border-bottom:solid #1a356e 1px;
	cursor:pointer;
	float:left;
}
 
.fbmodal_popup .button_inside_border_blue{
	padding:4px 6px 4px 6px;
	background-color:#5c75a9;
	border-top:solid #8a9cc2 1px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
}

.fbmodal_popup .button_outside_border_grey{
	margin-left:5px;
	border:solid #9b9b9b 1px;
	cursor:pointer;
	float:left;
}
 
.fbmodal_popup .button_inside_border_grey{
	padding:4px 6px 4px 6px;
	background-image:url('../img/fbmodal_cancel.png');
	border-top:solid #ffffff 1px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#333333;
}

.fbmodal_popup .right{float:right;}
.fbmodal_popup .clear{clear:both;}
div.button_inside_border_blue:active{background-color:#4f6aa3;}